<html>
  <head>
    <meta http-equiv="Content-Type" charset="UTF-8" name="viewport"/>
    <meta property="og:url" content="www.onecall.today"/>
    <meta property="og:title" content="OneCall Today"/>
    <meta property="og:image" content="./static/images/logoish.jpg"/>
    <title>OneCall Today</title>
    <link rel="stylesheet" href="./static/onecall.css?ver1" type="text/css" />
  </head>
  <body>
    <div class='section picfill'>
      <div class="fitimage redy"></div>
      <img class="fitimage" src="../static/images/protest1.jpeg">      
      <div class='header1 centered'>
        <strong>YOU DID IT!</strong>
      </div>    
    </div>
    <div class="section bluey">
      <div class="header2 centered">
        <p style="font-size: 25px">
          We just sent you a text message to confirm.
          <br>
          <br>
          Reply with "CALL" to get started right now.
          <br>
          Reply with "NEVER" to unsubscribe.
        </p>
      </div>
    </div>
    <div class="section redy">
      <div class="header2 centered">
        <div class="block">        
          <p style="font-size: 25px">
            Help spread the word! <br>
          </p>
        </div>
        <div class="block">        
          <a href="https://twitter.com/share" class="twitter-share-button" data-text="Awesome service--briefed every day on an urgent issue; then called by my representative to hear my opinion! Do it..." data-url="https://onecall.today" data-hashtags="" data-size="large" data-show-count="true">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
          <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fonecall.today&layout=button&size=large&mobile_iframe=true&width=84&height=28&appId" width="84" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
        </div>
      </div>
    </div>
  </body>
</html>
