<html>
  <head>
    <meta http-equiv="Content-Type" charset="UTF-8" name="viewport"/>
      <title>OneCall Landing</title>
      <link rel="stylesheet" href="./static/onecall.css" type="text/css" />
      <!--<script src="prototype.js"></script>-->
      <!--<script src="lumeter.js"></script>-->
  </head>
  <body id="body">
    <div class="center main">
      <h2>Be heard:</h2>
      <h1>One call today</h1>
      <form action="registerNewUser" method="Post">
        <table class="center">
          <tr><td><input class="inp" type="number" name="phonenumber" placeholder="Your Phone Number" required min="1000000000" max="19999999999"></td></tr>
          <tr><td><input class="inp" type="number" name="zipcode" placeholder="Your Zip Code" max="99999"></td></tr>
          <tr><td>
            <select class="drop" name="hour">
              <option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8" selected=rue>8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="0">12</option>
            </select> <span style="font-size: 20px">:</span>
            <select class="drop" name="minute">
              <option value="00">00</option><option value="05">05</option><option value="10">10</option><option value="15">15</option><option value="20">20</option><option value="25">25</option><option value="30">30</option><option value="35">35</option><option value="40">40</option><option value="45">45</option><option value="50">50</option><option value="55">55</option>
            </select>
            <select class="drop" name="ampm">
              <option value="0">AM</option><option value="12">PM</option>
            </select></td></tr>
          <tr><td><input class="btn" type="submit" value="SIGN UP"></td></tr>
        </table>
      </form>
    </div>
    <div style="position: absolute; bottom: 10px; right: 10px;"><a href="../login">© 2016 Leahpar Brothers</a>
    </div>
  </body>
</html>
