<html>
  <head>
    <meta http-equiv="Content-Type" charset="UTF-8" name="viewport" content="width=device-width, initial-scale=0.8"/>
      <title>OneCall Today</title>
      <link rel="stylesheet" href="./static/onecall.css?ver1" type="text/css" />
      <!--<script src="prototype.js"></script>-->
      <!--<script src="lumeter.js"></script>-->
      <meta property="og:title"         content="OneCall Today" />
      <meta property="og:url"         content="https://OneCall.Today" />
      <meta property="og:type"         content="website" />
      <meta property="og:description"   content="We've taken all the pain out of contacting your representative. We call you on your commute, brief you on the issue of the day, and connect your phone automatically." />

  </head>
  <body id="body">
    <div id="image_container">
      <!-- <img src="../static/images/protest1.jpeg"> -->
    </div>
    <div class='error_container center'>
      {% if error %}
        <p><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
    <div class="center heropic">
      <h1>YOUR VOICE MATTERS.</h1>
    </div>
    <div class="colorblock">
      <table class="center iconbtn">
        <tr>
          <td><img src="../static/images/environment.png" alt="" height=100px width=100px></img><br>Environment</td>
          <td><img src="../static/images/race.png" alt="" height=100px width=100px></img><br>Race</td>
          <td><img src="../static/images/lgbtq.png" alt="" height=100px width=100px></img><br>LGBTQ</td>
        </tr>
          <td><img src="../static/images/social.png" alt="" height=100px width=100px></img><br>Social Safety Nets</td>
          <td><img src="../static/images/immigration.png" alt="" height=100px width=100px></img><br>Immigration</td>
          <td><img src="../static/images/guns.png" alt="" height=100px width=100px></img><br>Gun Control</td>
        </tr>
          <td><img src="../static/images/campaignfinance.png" alt="" height=100px width=100px></img><br>Campaign Finance Reform</td>
          <td><img src="../static/images/womens.png" alt="" height=100px width=100px></img><br>Women's Rights</td>
          <td><img src="../static/images/trump.png" alt="" height=100px width=100px></img><br>Anti-Trump</td>
        </tr>
      </table>
      <form action="registerNewUser" method="Post">
        <table class="center">
          <tr><td><input class="inp" type="number" name="phonenumber" placeholder="Your Phone Number" required min="1000000000" max="19999999999"></td></tr>
          <tr><td><input class="inp" type="number" name="zipcode" placeholder="Your Zip Code" max="99999"></td></tr>
          <tr><td>
            <select class="drop" name="hour">
              <option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8" selected=rue>8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="0">12</option>
            </select> <span style="font-size: 20px">:</span>
            <select class="drop" name="minute">
              <option value="00">00</option><option value="05">05</option><option value="10">10</option><option value="15">15</option><option value="20">20</option><option value="25">25</option><option value="30">30</option><option value="35">35</option><option value="40">40</option><option value="45">45</option><option value="50">50</option><option value="55">55</option>
            </select>
            <select class="drop" name="ampm">
              <option value="0">AM</option><option value="12">PM</option>
            </select></td></tr>
          <tr><td><input class="btn" type="submit" value="SIGN UP"></td></tr>
        </table>
      </form>
    </div>
    <div class="colorblock red skewed">
      <p class="center" style="width:60%;"><strong style="font-size: 30;">Be heard.</strong><br> We make it easy for you to<br><strong>contact your representatives</strong><br>about issues that matter.</p>
    </div>    
    <div class="colorblock white skewed">
      <p class="center" style="width:60%;">We've taken all the pain out of contacting your representative, by automatically connecting you to them during your morning commute!<br><br>Every day, you'll receive one call regarding an important issue that needs your support. If you agree with the idea, then you'll instantly be connected to the most relevant representative.</p>
    </div>    
    <div class="colorblock blue skewed">
      <p class="center" style="width:60%;"> 
        <strong>Democracy, outside the voting booth.</strong>
        <br>
        <br>
        <a href="https://twitter.com/share" class="twitter-share-button" data-text="Awesome service--briefed every day on an urgent issue; then called by my representative to hear my opinion! Do it..." data-url="https://onecall.today" data-hashtags="" data-size="large" data-show-count="true">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fonecall.today&layout=button_count&size=large&mobile_iframe=true&width=84&height=28&appId" width="84" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
      </p>
    </div>    
    <div style="bottom: 10px; right: 10px;"><a href="../login">© 2016 Leahpar Brothers</a>
    </div>
  </body>
</html>
