<html>
  <head>
    <meta http-equiv="Content-Type" charset="UTF-8" name="viewport"/>
      <title>OneCall Landing</title>
      <link rel="stylesheet" href="./static/onecall.css" type="text/css" />
      <!--<script src="prototype.js"></script>-->
      <!--<script src="lumeter.js"></script>-->
  </head>
  <body id="body">
    <div class='error_container center'>
      {% if error %}
        <p><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
    <div class="center main grey">
      <h1>You did it!</h1>
      <p style="font-size: 25px">
        We just sent a text message to confirm!
        <br>
        <br>
        Reply with "CALL" to get started right now.
        <br>
        Reply with "NEVER" to unsubscribe.
        <br>
        <br>
        Invite your friends to sign up today, or go ahead and sign them up right now! (We won't call without consent.)
        <br>
        <br>
        <a href="https://twitter.com/share" class="twitter-share-button" data-text="Awesome service--briefed every day on an urgent issue; then called by my representative to hear my opinion! Do it..." data-url="https://onecall.today" data-hashtags="" data-size="large" data-show-count="true">Tweet</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fonecall.today&layout=button_count&size=large&mobile_iframe=true&width=84&height=28&appId" width="84" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
        <br>
        <br>
      <input class="btn" type="button" onclick="location.href='../thanks';" value="Go Back">
      </p>
    </div>
  </body>
</html>
