:root {
  --skewangle: -3;
}

.drop{
  font-size: medium;
  color: #666;
  background-color: #fff;
  -webkit-appearance: none;
  padding: 8px 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-right: 1en;}

.center {
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 10px;}

.iconbtn tr td {
  width: 150px;
  border: 1px solid;
  border-color: black;
  border-radius: 10px;
  background-color: rgba(255,255,255,.8)
}

.grey {
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgba(255,255,255,.8)  
}

.btn {
  border: 0px solid;
  color: #fff;
  border-color: #24a;
  background-color: #24a;
  border-radius: 4px;
  min-width: 106px;
  width: auto;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 11px !important;
  padding-bottom: 11px !important;
  font-size: 25px !important;
}

.inp {
  border-radius: 4px;
  border: 1px solid #aaa;
  padding: 8px 10px;
  width: 50%;
  font-size: 20px;
  color: #666;
  min-width: 200px
}

.red {
  background:#fcc;
}

.blue {
  background:#dde;
}

.white {
  background:#fff;
}

.colorblock {
  font-size:25px; 
  margin: 0px -8px;
  padding: 50px 35px;
} 

.skewed {
  -ms-transform: skewY(calc(var(--skewangle)*-1deg)); /* IE 9 */
  -webkit-transform: skewY(calc(var(--skewangle)*-1deg)); /* Safari */
  transform: skewY(calc(var(--skewangle)*-1deg)); /* Standard syntax */
}

.skewed p{
  -ms-transform: skewY(calc(var(--skewangle)*1deg)); /* IE 9 */
  -webkit-transform: skewY(calc(var(--skewangle)*1deg)); /* Safari */
  transform: skewY(calc(var(--skewangle)*1deg)); /* Standard syntax */
}

.debug {
  background-color: #900;
}

.inline {
  display: inline-block;
}

.leftalign {
  text-align: left;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  }

.main { padding-top: 5%; margin-bottom: 100; left: 30px}
.heropic{
  padding: 275px 0px 100px 0px;
}

.error_container {
  left: 0px;
  right: 0px;
  position: absolute;
  color: red;
  font-size: 20px;
}

.error_container p {
  margin: 0px;
}

h1 {font-family: sans-serif; font-size: 52px; margin-top: 0px;}  
h2 {font-family: sans-serif; font-size: 30px; margin-bottom: 0px;}
h3 {margin: 30px 0px 0px 0px;}

body {
  font-family: Arial;
  margin: 0px;
  color: white;
}

#body::after {
  content: "";
  background: url('../static/images/protest1-min-small.jpeg') no-repeat center center;
  background-size:cover;
  opacity: .5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}

.section{
  display: block;
  padding: 1px;
}

.centered {
  margin: auto;
  text-align: center;
}

.header1 {
  font-size: 60px; 
  color: inherit;
  max-width: 70%;
  margin: 200px auto;
}

.header2 {
  font-size: 30px; 
  color: inherit;
  max-width: 80%;
  margin: 30px auto;
}

.header3 {
  font-size: 20px; 
  color: inherit;
  max-width: 50%;
  margin: 20px auto;
}

.container{
  margin: 0px;
}

.inline{
  color: inherit;
  display: inline-block;
  vertical-align:top;
  margin: auto;
}

.last{
  bottom: 0px;
}

.third{
  max-width: 25%;
  margin: 20px 3%;
}

form div {
  max-width: 30%;
  margin: 10px auto;
}

.formelement {
  display: inline-block;
}

.picfill {
  position: relative;
}

.fitimage {
  position: absolute;
  z-index: -1;
  background: center center no-repeat;
  opacity: .4;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bluey {
  background-color: #00adef
}

.redy {
  background-color: #ed008c
}

.whitey {
  background-color: #ffffff;
  color:#ed008c;
}

.icon {
  height: 80px;
  margin: 10px;
}

.block {
  display: inline-block;
}

.slider {
  height: 80px;
  overflow: hidden;
}

@media only screen and (max-width: 500px) {
  .slider div {
    font-size: 30px;
  }

  .header1 {
    font-size: 40px; 
    margin: 100px auto;
  }

  .formelement {
    display: '';
  }
}

.slideoption {
  height: 80px;
  display: block;
  margin: 0;
}

.slider div {
  animation: slide;
  animation-duration: 15s;
  animation-delay: 3s;
}

@keyframes slide {
  0% { margin-top: 0px; }
  10% { margin-top: 0px; }
  12.5% { margin-top: -80px; }
  22.5% { margin-top: -80px; }
  25% { margin-top: -160px; }
  35% { margin-top: -160px; }
  37.5% { margin-top: -240px; }
  47.5% { margin-top: -240px; }
  50% { margin-top: -320px; }
  60% { margin-top: -320px; }
  62.5% { margin-top: -400px; }
  72.5% { margin-top: -400px; }
  75% { margin-top: -480px; }
  85% { margin-top: -480px; }
  87.5% { margin-top: -560px; }
  97.5% { margin-top: -560px; }
  100% { margin-top: 0px; }
}