:root {
  --skewangle: -3;
}

.drop{
  font-size: medium;
  color: #666;
  background-color: #fff;
  -webkit-appearance: none;
  padding: 8px 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-right: 1en;}

.center {
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 10px;}

.iconbtn tr td {
  width: 150px;
  border: 1px solid;
  border-color: black;
  border-radius: 10px;
  background-color: rgba(255,255,255,.8)
}

.btn {
  border: 1px solid;
  color: #fff;
  border-color: #24a;
  background-color: #24a;
  border-radius: 4px;
  min-width: 106px;
  width: auto;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 11px !important;
  padding-bottom: 11px !important;
  font-size: 18px !important;
}

.inp {
  border-radius: 4px;
  border: 1px solid #aaa;
  padding: 8px 10px;
  width: 50%;
  font-size: 20px;
  color: #666;
  min-width: 200px
}

.red {
  background:#fcc;
}

.blue {
  background:#dde;
}

.white {
  background:#fff;
}

.colorblock {
  font-size:25px; 
  margin: 0px -30px;
  padding: 50px 35px;
} 

.skewed {
  -ms-transform: skewY(calc(var(--skewangle)*-1deg)); /* IE 9 */
  -webkit-transform: skewY(calc(var(--skewangle)*-1deg)); /* Safari */
  transform: skewY(calc(var(--skewangle)*-1deg)); /* Standard syntax */
}

.skewed p{
  -ms-transform: skewY(calc(var(--skewangle)*1deg)); /* IE 9 */
  -webkit-transform: skewY(calc(var(--skewangle)*1deg)); /* Safari */
  transform: skewY(calc(var(--skewangle)*1deg)); /* Standard syntax */
}

.debug {
  background-color: #900;
}

.inline {
  display: inline-block;
}

.leftalign {
  text-align: left;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  }

.main { padding-top: 5%; margin-bottom: 100; left: 30px}
.heropic{
  padding: 275px 0px 100px 0px;
}

.error_container {
  left: 0px;
  right: 0px;
  position: absolute;
  color: red;
  font-size: 20px;
}

.error_container p {
  margin: 0px;
}

h1 {font-family: sans-serif; font-size: 52px; margin-top: 0px; text-shadow: 0 0 10px #fff;}  
h2 {font-family: sans-serif; font-size: 30px; margin-bottom: 0px;}
h3 {margin: 30px 0px 0px 0px;}

body {
  font-family: sans-serif;
}

body::after {
  content: "";
  background: url('../static/images/protest1.jpeg') no-repeat center center;
  background-size:cover;
  opacity: .5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;
}